modules = ["python-3.12", "web", "bash"]
run = "python3 manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 manage.py runserver 0.0.0.0:3000"]

[workflows]
runButton = "Run Django"

[[workflows.workflow]]
name = "Run Django"
author = 39981793

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:3000"
